input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}

#location {
  border: 10px solid lightgrey;
  background-color: lightgrey;
  color: white;
}

.events {
  border: 10px solid white;
}

.datepicker {
  background-color: white;
}
