{% extends 'base.html' %}

{% block title %}
Calendar
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="static/styles.css">
{% endblock %}

{% block content %}
<div class="container">
<p></p>

  <!---<a class="dropdown-item" href="/hosting">hosting</a>
  #          <a class="dropdown-item" href="/attending">attending</a>
  #          <a class="dropdown-item" href="/interested">interested</a>
  #          <a class="dropdown-item" href="/invited">invited</a>
  #          <a class="dropdown-item" href="/confirmed">confirmed</a>-->
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h1>double fudge</h1>
        </div>
      </div>
    </body>

</div>

{% endblock %}
