{% extends 'base.html' %}

{% block title %}
Calendar
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="static/styles.css">
{% endblock %}

{% block content %}
<div class="container">
<p></p>

  <!---<a class="dropdown-item" href="/hosting">hosting</a>
  #          <a class="dropdown-item" href="/attending">attending</a>
  #          <a class="dropdown-item" href="/interested">interested</a>
  #          <a class="dropdown-item" href="/invited">invited</a>
  #          <a class="dropdown-item" href="/confirmed">confirmed</a>-->
<h1>double fudge</h1>

</div>

{% endblock %}
