{% extends 'base.html' %}

{% block title %}
Calendar
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="static/styles.css">
{% endblock %}

{% block content %}
<div class="container">


  <!---<a class="dropdown-item" href="/hosting">hosting</a>
  #          <a class="dropdown-item" href="/attending">attending</a>
  #          <a class="dropdown-item" href="/interested">interested</a>
  #          <a class="dropdown-item" href="/invited">invited</a>
  #          <a class="dropdown-item" href="/confirmed">confirmed</a>-->
<h2>Today:</h2>

<h2>Tomorrow:</h2>

<h2>Next Week:</h2>

<h2>Upcoming:</h2>

<h2>Invited:</h2>

</div>

{% endblock %}
