{% extends 'base.html' %}

{% block title %}
Host an event!
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="static/form.css">
{% endblock %}

<div id="flash">
{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}
</div>

{% block content %}
<div class="container">
  <h4>Create your event!</h4>
  <h6>&#x266B; let's party &#x266A; &#x266C; </h6>
  <hr>
  <form class="create" action="/create" method="POST">
    <table>
      <legend>EVENT</legend>
      <tr>
        <td>
          <input type="radio" name="private" value="false"> public<br>
        </td>
        <td>
          <input type="radio" name="private" value="true"> private
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>venue</td>
        <td>
        <select name="venue" required>
        {% for venue in venues %}
        <option value="select" selected disabled hidden>Select</option>
        <option value="{{ venue.name }}">{{ venue.name }}</option>
        {% endfor %}
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      <tr>
        <td>title</td>
        <td>
          <input type="textbox" name="title" required>
        </td>
      </tr>
      <tr>
        <td>info</td>
        <td>
          <input type="textbox" name="info">
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>begins at</td>
        <td>
          <input type="date" name="begin_date" required>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="time" name="begin_time" required>
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>ends at</td>
        <td>
          <input type="date" name="end_date" required>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="time" name="end_time" required>
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
	    <tr>
		    <td>max cap</td>
		    <td>
          <input type="textbox" name="max_cap" required>
        </td>
	    </tr>
      <tr>
        <td>custom url </td>
        <td>
          <input type="textbox" name="url">
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>

      </tr>
      <tr>
        <td>
        </td>
        <td>
          <button type="submit">get social</button>
        </td>
      </tr>
    </table>
  </form>

</div> <!-- /container -->
{% endblock %}
