{% extends 'base.html' %}

{% block title %}
Host an event!
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="static/form.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script>
$( function() {
  $( '.datepicker').datepicker();
      format: "yyyy-mm-dd"
} );

$('.timepicker').timepicker({
    timeFormat: 'hh:mm p',
    interval: 30,
    dropdown: true,
    scrollbar: true
});

$(function() {
				$('#begin_at').timepicker();
        $('#end_at').timepicker();
			});

</script>
{% endblock %}

<div id="flash">
{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}
</div>

{% block content %}
<div class="container">
  <h4>Create your event!</h4>
  <h6>&#x266B; let's party &#x266A; &#x266C; </h6>
  <hr>
  <form class="create" id="create" action="/create" method="POST">
    <table>
      <legend>EVENT</legend>
      <tr>
        <td>
          <input type="radio" name="private" value="False"> public<br>
        </td>
        <td>
          <input type="radio" name="private" value="True"> private
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>venue</td>
        <td>
        <select name="venue" required>
        {% for venue in venues %}
        <option value="select" selected disabled hidden required>Select</option>
        <option value="{{ venue.name }}">{{ venue.name }}</option>
        {% endfor %}
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      <tr>
        <td>title</td>
        <td>
          <input type="textbox" name="title" required>
        </td>
      </tr>
      <tr>
        <td>info</td>
        <td>
          <textarea name="info" cols="20" rows="10" placeholder="500 char max"></textarea>
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>begins at</td>
        <td>
          <input type="text" name="begin_date" class="datepicker" required>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="text" name="begin_time" class="timepicker" id="begin_at" required>
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>ends at</td>
        <td>
          <input type="text" name="end_date" class="datepicker" required>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="text" name="end_time"  id="end_at" required>
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
	    <tr>
		    <td>max </td>
		    <td>
          <input type="textbox" name="max_cap">
        </td>
	    </tr>
      <tr>
        <td>custom url </td>
        <td>
          <input type="textbox" name="url" required>
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>

      </tr>
      <tr>
        <td>
        </td>
        <td>
          <button type="submit">get social</button>
        </td>
      </tr>
    </table>
  </form>

</div> <!-- /container -->
{% endblock %}

<!-- <script type="text/javascript">

$('#create').on('submit', function (evt) {
      evt.preventDefault();
      let url = $('#url').text();
      $.get('/verify_url', {'url':url}, function (data) {
          if(data == 'True') {
            // url is unique
            // submit form
          }
          else {
            // data is not unique, alert user for another name
          }
        }
});

</script> -->
