{% extends 'base.html' %}

{% block title %}
Enter your email
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="static/form.css">
{% endblock %}

<div id="flash">
{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}
</div>

{% block content %}
<div class="container">
  <h4>Invite your friends</h4>
  <h6>add emails</h6>
  <hr>

  <form class="form-login" action="/invite/{{ user_id }}/{{ event_url }}" method="POST">
    <table>
      <tr>
        <td> CSV &nbsp
        </td>
        <td>
          <textarea name="csv_emails" cols="50" rows="10" placeholder=" enter emails seperated by comma"></textarea>
        </td>
      <tr>
        <td>
        </td>
        <td>
          &nbsp<button type="submit">Let's go!</button>
        </td>
      </tr>
      </tr>
      <tr>
        <td>
          <hr>
        </td>
        <td>
          <hr>
        </td>
      </tr>
      <!-- <tr>
        <td>{% for i in range(max_cap) %}</td>
        <tr>
        <td>{{ i+1 }} &nbsp </td>
        <td>
            <input type="email" name="email {{ i }}" placeholder=" email">
        </td>
        {% endfor %}
        </tr>
      </tr>
      </tr>
    </table>
    <hr>
        &nbsp<button type="submit">Let's go!</button> -->
  </form>
</div> <!-- /container -->
{% endblock %}
