{% extends 'base.html' %}

{% block title %}
Enter your email
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="static/form.css">
{% endblock %}

<div id="flash">
{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}
</div>

{% block content %}
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <h3>🍨 sundae socials</h3>
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
        <a href="/" class="mdl-layout__tab">🏠 home</a>
        <a href="/create" class="mdl-layout__tab is-active">✍️ create</a>
        <a href="/socials" class="mdl-layout__tab">👥 socials</a>
        <a href="/venues" class="mdl-layout__tab">🌐 venues</a>
        <a href="/me" class="mdl-layout__tab">👤 me</a>
        {% if 'user_id' in session %}
        <a href="/exit" class="mdl-layout__tab">👋 exit</a>
        {% else %}
        <a href="/join" class="mdl-layout__tab">🕶️ VIP</a>
        {% endif %}
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add" onclick="window.location='/create';">
          <i class="material-icons" role="presentation">add</i>
          <span class="visuallyhidden">Add</span>
        </button>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="mdl-layout__tab-panel is-active" id="overview">
    </header>

<div class="container">
  <h4>Invite your friends</h4>
  <h6>add emails</h6>
  <hr>

  <form class="form-login" action="/invite/{{ user_id }}/{{ event_url }}" method="POST">
    <table>
      <tr>
        <td> CSV &nbsp
        </td>
        <td>
          <textarea name="csv_emails" cols="50" rows="10" placeholder=" enter emails seperated by comma"></textarea>
        </td>
      <tr>
        <td>
        </td>
        <td>
          &nbsp<button type="submit">Let's go!</button>
        </td>
      </tr>
      </tr>
      <tr>
        <td>
          <hr>
        </td>
        <td>
          <hr>
        </td>
      </tr>
      <!-- <tr>
        <td>{% for i in range(max_cap) %}</td>
        <tr>
        <td>{{ i+1 }} &nbsp </td>
        <td>
            <input type="email" name="email {{ i }}" placeholder=" email">
        </td>
        {% endfor %}
        </tr>
      </tr>
      </tr>
    </table>
    <hr>
        &nbsp<button type="submit">Let's go!</button> -->
  </form>
</div> <!-- /container -->
{% endblock %}
