{% extends 'base.html' %}

{% block title %}
Create an account to host events!
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="static/form.css">
{% endblock %}


{% block content %}
<div class="container">
  <div id="flash">
  {% for flash in get_flashed_messages() %}
    {{ flash }}
  {% endfor %}
  <hr>
  </div>
  <h4>Update your account</h4>
  <h6>&#9758; add a little more info | <a href="/">skip</a> </h6>
  <hr>
  <form class="form-login" action="/join" method="POST">
    <table>
      <tr>
        <td>username</td>
        <td>
          <input type="textbox" name="username" required>
        </td>
      </tr>
      <tr>
        <td>password</td>
        <td>
          <input type="password" name="password" required>
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>first name</td>
        <td>
          <input type="textbox" name="fname" value="{{ fname }}" required>
        </td>
      </tr>
      <tr>
        <td>last name</td>
        <td>
          <input type="textbox" name="lname" value="{{ lname }}" required>
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
	    <tr>
		    <td>postal code</td>
		    <td>
          <input type="textbox" name="postal_code" value="{{ postal_code }}" required>
        </td>
	    </tr>
      <tr>
        <td>phone number</td>
        <td>
          <input type="textbox" name="phone" value="{{ phone }}">
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>
          <button type="submit">create an account</button>
        </td>
      </tr>
    </table>
  </form>

</div> <!-- /container -->
{% endblock %}
