{% extends 'base.html' %}

{% block title %}
Create an account to host events!
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="static/form.css">
{% endblock %}


{% block content %}
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <h3>🍨 sundae socials</h3>
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
        <a href="/" class="mdl-layout__tab is-active">🏠 home</a>
        <a href="/create" class="mdl-layout__tab">✍️ create</a>
        <a href="/socials" class="mdl-layout__tab">👥 socials</a>
        <a href="/venues" class="mdl-layout__tab">🌐 venues</a>
        <a href="/me" class="mdl-layout__tab">👤 me</a>
        {% if 'user_id' in session %}
        <a href="/exit" class="mdl-layout__tab">👋 exit</a>
        {% else %}
        <a href="/join" class="mdl-layout__tab">🕶️ VIP</a>
        {% endif %}
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add" onclick="window.location='/create';">
          <i class="material-icons" role="presentation">add</i>
          <span class="visuallyhidden">Add</span>
        </button>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="mdl-layout__tab-panel is-active" id="overview">
    </header>

<div class="container">
  <div id="flash">
  {% for flash in get_flashed_messages() %}
    {{ flash }}
  {% endfor %}
  <hr>
  </div>
  <h4>Update your account</h4>
  <h6>&#9758; add a little more info | <a href="/">skip</a> </h6>
  <hr>
  <form class="form-login" action="/join" method="POST">
    <table>
      <tr>
        <td>username</td>
        <td>
          <input type="textbox" name="username" required>
        </td>
      </tr>
      <tr>
        <td>password</td>
        <td>
          <input type="password" name="password" required>
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>first name</td>
        <td>
          <input type="textbox" name="fname" value="{{ fname }}" required>
        </td>
      </tr>
      <tr>
        <td>last name</td>
        <td>
          <input type="textbox" name="lname" value="{{ lname }}" required>
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
	    <tr>
		    <td>postal code</td>
		    <td>
          <input type="textbox" name="postal_code" value="{{ postal_code }}" required>
        </td>
	    </tr>
      <tr>
        <td>phone number</td>
        <td>
          <input type="textbox" name="phone" value="{{ phone }}">
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>
          <button type="submit">create an account</button>
        </td>
      </tr>
    </table>
  </form>

</div> <!-- /container -->
{% endblock %}
