{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <h3>🍨 sundae socials</h3>
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
        <a href="/" class="mdl-layout__tab">🏠 home</a>
        <a href="/create" class="mdl-layout__tab">✍️ create</a>
        <a href="/socials" class="mdl-layout__tab">👥 socials</a>
        <a href="/venues" class="mdl-layout__tab">🌐 venues</a>
        <a href="/me" class="mdl-layout__tab is-active">👤 me</a>
        {% if 'user_id' in session %}
        <a href="/exit" class="mdl-layout__tab">👋 exit</a>
        {% else %}
        <a href="/join" class="mdl-layout__tab">🕶️ VIP</a>
        {% endif %}
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add" onclick="window.location='/create';">
          <i class="material-icons" role="presentation">add</i>
          <span class="visuallyhidden">Add</span>
        </button>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="mdl-layout__tab-panel is-active" id="overview">
    </header>


<div class="container">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
  <div class="mdl-card__supporting-text">
  <h1>username: {{ username }} </h1>
  <h2>name: {{ fname }} {{ lname }} </h1>
  <h5>email: {{ email }} <h5>
  <p>postal:  {{ postal_code }} <p>

<form action="/join" method="GET">
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">update profile</button>
  <!-- <input value={{max_cap}} hidden></input>
  <input type="submit" value={{ max_cap }} name="max_cap"></input> -->
</form>
</div>
</div>
</div>
{% endblock %}
