{% extends 'base.html' %}

{% block title %}
Host an event!
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="static/form.css">
{% endblock %}

<div id="flash">
{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}
</div>

{% block scripts %}
<script>
"use strict";

 function getSubcategory(evt){
            let url = '/categories_subcategories.json';
            $.get(url, categorySubcategory);
          }

        function categorySubcategory(result){
            $('span#climate').html(result['climate']);
        }


$('#getInfo').on('click', getPlanet);


$(document).ready(function() {
    $('form').on('submit', function(event) {
      event.preventDefault();
        $.post('/register', {
          name : $('#venueName').val(),
          addr_1 : $('#venueAddr1').val(),
          addr_2 : $('#venueAddr2').val(),
          city : $('#venueCity').val(),
          postal_code : $('#venuePostalCode').val(),
          state : $('#venueState').val(),
          country : $('#venueCountry').val(),
          category : $('#venueCategory').val()
          }, function(data) {
            if (data.error) {
                $('#message').text(data.error).show();
            }
            window.location='/create'
        });
    });
});

</script>
{% endblock %}

{% block content %}

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <h3>🍨 sundae socials</h3>
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
        <a href="/" class="mdl-layout__tab">🏠 home</a>
        <a href="/create" class="mdl-layout__tab">✍️ create</a>
        <a href="/socials" class="mdl-layout__tab">👥 socials</a>
        <a href="/venues" class="mdl-layout__tab is-active">🌐 venues</a>
        <a href="/me" class="mdl-layout__tab">👤 me</a>
        {% if 'user_id' in session %}
        <a href="/exit" class="mdl-layout__tab">👋 exit</a>
        {% else %}
        <a href="/join" class="mdl-layout__tab">🕶️ VIP</a>
        {% endif %}
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add" onclick="window.location='/create';">
          <i class="material-icons" role="presentation">add</i>
          <span class="visuallyhidden">Add</span>
        </button>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="mdl-layout__tab-panel is-active" id="overview">
    </header>


<div class="container">

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--1dp">
  <div class="mdl-card mdl-cell mdl-cell--6-col">
  <div class="mdl-card__supporting-text">
  <div id="message"></div>
  <h4>Register your venue</h4>
  <h6>&#9758; get on the map | <a href="/create">skip, create event</a></h6>
  <hr>
  <p></p>
  <form class="create" action="/register" method="POST">
    <table>
      <tr>
        <td>name</td>
        <td>
          <input type="textbox" name="name" id='venueName' required>
        </td>
      </tr>
      <tr>
        <td>address</td>
        <td>
          <input type="textbox" name="addr_1" id='venueAddr1'>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="textbox" name="addr_2" id='venueAddr2'>
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>city</td>
        <td>
          <input type="textbox" name="city" id="venueCity">
        </td>
      </tr>
      <tr>
        <td>state</td>
        <td>
            <select name="state" id="venueState">
              <option value="select" selected disabled hidden>State</option>
              <option value="CA">California</option>
              <option value="--">---</option>
              <option value="AL">Alabama</option>
            	<option value="AK">Alaska</option>
            	<option value="AZ">Arizona</option>
            	<option value="AR">Arkansas</option>
            	<option value="CA">California</option>
            	<option value="CO">Colorado</option>
            	<option value="CT">Connecticut</option>
            	<option value="DE">Delaware</option>
            	<option value="DC">District Of Columbia</option>
            	<option value="FL">Florida</option>
            	<option value="GA">Georgia</option>
            	<option value="HI">Hawaii</option>
            	<option value="ID">Idaho</option>
            	<option value="IL">Illinois</option>
            	<option value="IN">Indiana</option>
            	<option value="IA">Iowa</option>
            	<option value="KS">Kansas</option>
            	<option value="KY">Kentucky</option>
            	<option value="LA">Louisiana</option>
            	<option value="ME">Maine</option>
            	<option value="MD">Maryland</option>
            	<option value="MA">Massachusetts</option>
            	<option value="MI">Michigan</option>
            	<option value="MN">Minnesota</option>
            	<option value="MS">Mississippi</option>
            	<option value="MO">Missouri</option>
            	<option value="MT">Montana</option>
            	<option value="NE">Nebraska</option>
            	<option value="NV">Nevada</option>
            	<option value="NH">New Hampshire</option>
            	<option value="NJ">New Jersey</option>
            	<option value="NM">New Mexico</option>
            	<option value="NY">New York</option>
            	<option value="NC">North Carolina</option>
            	<option value="ND">North Dakota</option>
            	<option value="OH">Ohio</option>
            	<option value="OK">Oklahoma</option>
            	<option value="OR">Oregon</option>
            	<option value="PA">Pennsylvania</option>
            	<option value="RI">Rhode Island</option>
            	<option value="SC">South Carolina</option>
            	<option value="SD">South Dakota</option>
            	<option value="TN">Tennessee</option>
            	<option value="TX">Texas</option>
            	<option value="UT">Utah</option>
            	<option value="VT">Vermont</option>
            	<option value="VA">Virginia</option>
            	<option value="WA">Washington</option>
            	<option value="WV">West Virginia</option>
            	<option value="WI">Wisconsin</option>
            	<option value="WY">Wyoming</option>
            </select>
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
	    <tr>
		    <td>postal code</td>
		    <td>
          <input type="textbox" name="postal_code" id="venuePostalCode" required>
        </td>
	    </tr>
      <tr>
        <td>country</td>
        <td>
          <input type="textbox" name="country" value="United States" id="venueCountry">
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>category</td>
        <td>
          <select name="category" required>
            <option value="select" selected disabled hidden>Select</option>
				    <option value="arts">Arts & Entertainment</option>
				    <option value="college">College & University</option>
				    <option value="event">Conference</option>
            <option value="event">Festival</option>
				    <option value="food">Food</option>
				    <option value="nightlife">Nighlife Spot</option>
            <option value="outdoors">Outdoors & Recreation</option>
            <option value="professional">Professional & Other Places</option>
            <option value="residence">Residence</option>
            <option value="shop">Shop & Service</option>
            <option value="travel">Travel & Transport</option>
			    </select>
        </td>
      </tr>
      <tr>
        <td>sub category</td>
        <td>
          <select name="subcategory" required>
            <option value="select" selected disabled hidden>Select</option>
            <option value="arts">Arts & Entertainment</option>
            <option value="college">College & University</option>
            <option value="event">Conference</option>
            <option value="event">Festival</option>
            <option value="food">Food</option>
            <option value="nightlife">Nighlife Spot</option>
            <option value="outdoors">Outdoors & Recreation</option>
            <option value="professional">Professional & Other Places</option>
            <option value="residence">Residence</option>
            <option value="shop">Shop & Service</option>
            <option value="travel">Travel & Transport</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>
          <button type="submit">create new venue </button>
        </td>
      </tr>
      <tr>
        <td>

        </td>
      </tr>
    </table>
  </form>
</div>
</div>
</div>

 <!-- <h4> SEARCH </h4>
 <form class="create" action="/create" method="POST">
   <table>
     <tr>
       <td>venue name</td>
       <td>
         <input type="textbox" name="name" required>
       </td>
     </tr>
     <tr>
       <td><hr></td>
       <td><hr></td>
     </tr>
     <tr>
       <td>
         <button type="submit">search for venue </button>
       </td>
     </tr>
   </table>
 </form> -->

{% endblock %}
