{% extends 'base.html' %}

{% block title %}
Host an event!
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="static/form.css">
{% endblock %}

<div id="flash">
{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}
</div>

{% block content %}
<div class="container">
  <h4>Register your venue</h4>
  <h6>&#9758; get on the map</h6>
  <hr>
  <p></p>
  <legend>VENUE</legend>
  <form class="create" action="/register" method="POST">
    <table>
      <tr>
        <td>name</td>
        <td>
          <input type="textbox" name="name" required>
        </td>
      </tr>
      <tr>
        <td>address</td>
        <td>
          <input type="textbox" name="addr_1">
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="textbox" name="addr_2">
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>city</td>
        <td>
          <input type="textbox" name="city">
        </td>
      </tr>
      <tr>
        <td>state</td>
        <td>
            <select name="state">
              <option value="select" selected disabled hidden>State</option>
              <option value="CA">California</option>
              <option value="--">---</option>
              <option value="AL">Alabama</option>
            	<option value="AK">Alaska</option>
            	<option value="AZ">Arizona</option>
            	<option value="AR">Arkansas</option>
            	<option value="CA">California</option>
            	<option value="CO">Colorado</option>
            	<option value="CT">Connecticut</option>
            	<option value="DE">Delaware</option>
            	<option value="DC">District Of Columbia</option>
            	<option value="FL">Florida</option>
            	<option value="GA">Georgia</option>
            	<option value="HI">Hawaii</option>
            	<option value="ID">Idaho</option>
            	<option value="IL">Illinois</option>
            	<option value="IN">Indiana</option>
            	<option value="IA">Iowa</option>
            	<option value="KS">Kansas</option>
            	<option value="KY">Kentucky</option>
            	<option value="LA">Louisiana</option>
            	<option value="ME">Maine</option>
            	<option value="MD">Maryland</option>
            	<option value="MA">Massachusetts</option>
            	<option value="MI">Michigan</option>
            	<option value="MN">Minnesota</option>
            	<option value="MS">Mississippi</option>
            	<option value="MO">Missouri</option>
            	<option value="MT">Montana</option>
            	<option value="NE">Nebraska</option>
            	<option value="NV">Nevada</option>
            	<option value="NH">New Hampshire</option>
            	<option value="NJ">New Jersey</option>
            	<option value="NM">New Mexico</option>
            	<option value="NY">New York</option>
            	<option value="NC">North Carolina</option>
            	<option value="ND">North Dakota</option>
            	<option value="OH">Ohio</option>
            	<option value="OK">Oklahoma</option>
            	<option value="OR">Oregon</option>
            	<option value="PA">Pennsylvania</option>
            	<option value="RI">Rhode Island</option>
            	<option value="SC">South Carolina</option>
            	<option value="SD">South Dakota</option>
            	<option value="TN">Tennessee</option>
            	<option value="TX">Texas</option>
            	<option value="UT">Utah</option>
            	<option value="VT">Vermont</option>
            	<option value="VA">Virginia</option>
            	<option value="WA">Washington</option>
            	<option value="WV">West Virginia</option>
            	<option value="WI">Wisconsin</option>
            	<option value="WY">Wyoming</option>
            </select>
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
	    <tr>
		    <td>postal code</td>
		    <td>
          <input type="textbox" name="postal_code" required>
        </td>
	    </tr>
      <tr>
        <td>country</td>
        <td>
          <input type="textbox" name="country" value="United States">
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>category</td>
        <td>
          <select name="category" required>
            <option value="select" selected disabled hidden>Select</option>
				    <option value="arts">Arts & Entertainment</option>
				    <option value="college">College & University</option>
				    <option value="event">Conference</option>
            <option value="event">Festival</option>
				    <option value="food">Food</option>
				    <option value="nightlife">Nighlife Spot</option>
            <option value="outdoors">Outdoors & Recreation</option>
            <option value="professional">Professional & Other Places</option>
            <option value="residence">Residence</option>
            <option value="shop">Shop & Service</option>
            <option value="travel">Travel & Transport</option>
			    </select>
        </td>
      </tr>
      <tr>
        <td>sub category</td>
        <td>
          <select name="subcategory" required>
            <option value="select" selected disabled hidden>Select</option>
            <option value="arts">Arts & Entertainment</option>
            <option value="college">College & University</option>
            <option value="event">Conference</option>
            <option value="event">Festival</option>
            <option value="food">Food</option>
            <option value="nightlife">Nighlife Spot</option>
            <option value="outdoors">Outdoors & Recreation</option>
            <option value="professional">Professional & Other Places</option>
            <option value="residence">Residence</option>
            <option value="shop">Shop & Service</option>
            <option value="travel">Travel & Transport</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><hr></td>
        <td><hr></td>
      </tr>
      <tr>
        <td>
          <button type="submit">create new venue </button>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/create" class="btn btn-default">skip, create event</a>
        </td>
      </tr>
    </table>
  </form>
</div>

 <!-- <h4> SEARCH </h4>
 <form class="create" action="/create" method="POST">
   <table>
     <tr>
       <td>venue name</td>
       <td>
         <input type="textbox" name="name" required>
       </td>
     </tr>
     <tr>
       <td><hr></td>
       <td><hr></td>
     </tr>
     <tr>
       <td>
         <button type="submit">search for venue </button>
       </td>
     </tr>
   </table>
 </form> -->

{% endblock %}
