{% extends 'base.html' %}

{% block title %}
Sundae Socials
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="static/styles.css">
{% endblock %}

{% block content %}
<div class="container">


  <!---<a class="dropdown-item" href="/hosting">hosting</a>
  #          <a class="dropdown-item" href="/attending">attending</a>
  #          <a class="dropdown-item" href="/interested">interested</a>
  #          <a class="dropdown-item" href="/invited">invited</a>
  #          <a class="dropdown-item" href="/confirmed">confirmed</a>-->

<h2>Hosting:</h2>
{% for host in hosting %}
<td>
  <p><strong><a href="/event/{{ user_id }}/{{ host.url }}">{{ host.title }}</a></strong></p>
  <p>{{ host.begin_at.strftime('%A - %B %d, %Y') }}</p>
  <p></p>
  <hr>
</td>
{% endfor %}

<h2>Invited:</h2>
{% for invite in invited %}
<td>
  <p><strong><a href="/event/{{ invite.event.host_id }}/{{ invite.event.url }}">{{ invite.event.title }}</a></strong></p>
  <p>{{ invite.event.begin_at.strftime('%A - %B %d, %Y') }}</p>
  <p></p>
</td>
{% endfor %}

</div>

{% endblock %}
