{% extends 'base.html' %}

{% block title %}
VIP only: join the club.
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/form.css">
{% endblock %}

{% block content %}
<div class="container">
  <h4>VIP Only: Are you on the list?</h4>
  <h6>&#9758; enter your info to login</h6>
  <hr>
  <form class="form-login" action="/VIP-only" method="POST">
    <table>
      <tr>
        <td>e-mail</td>
        <td>
          <input type="email" name="email" value="{{ email }}" required>
        </td>
      </tr>
      <tr>
        <td>password</td>
        <td>
          <input type="password" name="password" required>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit">Sign In</button>
        </td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}
