{% extends 'base.html' %}

{% block title %}
Create an account: join the club.
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/form.css">
{% endblock %}

{% block content %}
<div class="container">
  <h3>Enter your info to login!</h3>
  <form class="form-login" action="/login" method="POST">
    <table>
      <tr>
        <td>e-mail</td>
        <td>
          <input type="email" name="email" required>
        </td>
      </tr>
      <tr>
        <td>password</td>
        <td>
          <input type="password" name="password" required>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit">Sign In</button>
        </td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}
